@media screen and (max-width:767px) {

    .containerHeader{
        width: 95%;
    }
    
    nav{
        display: none;
    }

    .bag{
        display: none;
    }

    .hamburgerMenu{
        width: 100%;
        padding: 0px;
    }

    .hamburgerContainerHeader{
        width: 100%;
    }

    .containerHamburgerContent{
        flex-direction: column;
        width: 100%;
    }

    .section{
        width: 60%;
    }

    .img img{
        height: 20vh;
    }

    .footerHamburgerContainer{
        justify-content: center;
    }

    .textFooter {
        display: none;
    }

    .title{
        display: none;
    }

    .usernameTitle h1 {
        font-size: 2.2em;
    }

    .container{
        width: 95%;
    }

    .personalData{
        flex-direction: column;
        gap: 2rem;
    }

    .list {
        width: 100%;
        padding-right: 0;
    }

    .btnList:focus .arrowUp{
        display: block;
        color: #000;
    }

    .btnList:focus .arrowLeft{
        display: none;
    }

    .btnList:nth-child(1) .arrowLeft{
        display: none;
    }

    .btnList:nth-child(1) .arrowUp{
        display: block;
        color: #000;
    }

    .personalInfo{
        width: 100%;
        padding-left: 0px;
    }

    form{
        width: 100%;
    }

    .titlePersonalInfo{
        display: none;
    }

    .containerOption {
        display: flex;
        flex-direction: column;
        align-items: normal;
        width: 100%;
    }

    .option{
        width: 100%;
    }

    .containerBtnForm {
        flex-direction: column;
        width: 100%;
    }

    .btnEdit{
        width: 100%;
    }

    .btnEdit button {
        width: 100%;
    }

    .btnDelete {
        width: 100%;
    }

    .btnDelete button {
        width: 100%;
    }

    .containerFooter{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .infoFooter{
        width: 95%;
        padding-top: 50px ;
    }
    
    .derechos {
        display: none;
    }
    
    .linksFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        padding: 30px 0;
    }
    
    .lFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 51%;
    }
    
    .lineaFooterFinal{
        display: block;
    }
    
    .derechosFinal{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
    }
}